<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}">
    <title>Client Progress</title>
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="container" style="height: 100vh;">
    <h2 class="text-center" th:text="${client.username} + ' Progress'" style="margin-top: 11rem;"></h2>

    <div sec:authorize="hasRole('CLIENT')">
        <form class="upload-form" method="POST"
              th:action="@{/clients/{clientUsername}/progress(clientUsername=${client.username})}"
              enctype="multipart/form-data" style="margin-top: 5rem;">
            <div class="form-row align-items-center">
                <div class="col-sm-9 my-1">
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <div class="col-sm-3 my-1">
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                </div>
            </div>
        </form>
    </div>

    <hr class="divider bg-primary my-4">
    <h4 class="progress-title text-center">Progress Pictures</h4>
    <div class="row">
        <div th:each="progressPicture: ${progressPictures}" class="col-md-3" style="margin-bottom: 8rem;">
            <div style="margin-top: 2rem;">
                <img th:src="${progressPicture.url}" class="card-img-top" alt="Progress Picture" style="height: 300px;">
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li th:if="${progressPictures.hasPrevious()}" class="page-item">
                <a th:href="@{'/clients/' + ${client.username} + '/progress?page=' + ${progressPictures.number - 1}}"
                   class="page-link">&lt; Prev</a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, progressPictures.totalPages - 1)}"
                th:class="${page} == ${progressPictures.number} ? 'page-item active' : 'page-item'">
                <a th:href="@{'/clients/' + ${client.username} + '/progress?page=' + ${page}}" class="page-link"
                   th:text="${page + 1}"></a>
            </li>
            <li th:if="${progressPictures.hasNext()}" class="page-item">
                <a th:href="@{'/clients/' + ${client.username} + '/progress?page=' + ${progressPictures.number + 1}}"
                   class="page-link">Next &gt;</a>
            </li>
        </ul>
    </nav>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
