<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}">
    <title>Client Progress</title>
    <style>
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
        .upload-form {
            margin-bottom: 2rem;
        }
        .progress-title {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="container" style="height: 100vh;">
    <h2 class="text-center" th:text="${client.username} + ' Progress'" style="margin-top: 11rem;"></h2>

    <!-- Display message if any -->
    <div th:if="${message}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>

    <!-- Upload form -->
    <form class="upload-form" method="POST" th:action="@{/clients/{clientUsername}/progress(clientUsername=${client.username})}" enctype="multipart/form-data" style="margin-top: 5rem;">
        <div class="form-row align-items-center">
            <div class="col-sm-9 my-1">
                <input type="file" class="form-control" id="file" name="file" required>
            </div>
            <div class="col-sm-3 my-1">
                <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </div>
        </div>
    </form>

    <!-- Uploaded progressPicture
    s gallery -->
    <h4 class="progress-title text-center">Progress Pictures</h4>
    <div class="row">
        <div th:each="progressPicture: ${progressPictures}" class="col-md-4 mb-3">
            <div class="card" style="margin-top: 2rem;">
                <img th:src="${progressPicture.url}" class="card-img-top" alt="Progress progressPicture">
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
