<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="~{fragments/head}"></head>
<header th:replace="~{fragments/navbar}"></header>

<body>
<header th:replace="~{fragments/navbar}"></header>
<div class="container cmt text-white" style="min-height: calc(100vh - 56px);">
    <h2 class="text-center text-dark mb-4">My Clients</h2>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody th:each="client: ${clients}">
        <tr>
            <td>1</td>
            <td th:text="${client.username}">Client 1</td>
            <td th:text="${client.email}">client1@example.com</td>
            <td><a th:href="@{/coaches/clients/{clientId}(clientId=${client.id})}" class="btn btn-info">Check Details</a></td>
        </tr>
        </tbody>
    </table>
</div>>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
