<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">

</head>
<nav th:replace="~{fragments/navbar}"></nav>
<body>

<header class="header" th:object="${client}" style="height: 100vh">
    <div class="container">
        <h2 class="text-center text-white" style="margin-top: 7rem;" th:text="*{username} + ' Data'">Client Details</h2>
        <input type="hidden" id="clientName" th:value="${client.username}">
        <div class="row mt-4">
            <!-- Metrics Table -->
            <div class="col">
                <div class="card" style="height: 100%">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">Metrics</h5>
                        <button type="submit" class="btn btn-info w-25" data-toggle="modal"
                                data-target="#weeklyDataModal" id="dataModalBtn">Data
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="weeklyDataModal" tabindex="-1" aria-labelledby="weeklyDataModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="weeklyDataModalLabel">Weekly Data</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Placeholder for displaying weekly data -->
                                    <ul class="nav nav-tabs" id="weekTabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="week1-tab" data-toggle="tab" href="#week1" role="tab" aria-controls="week1" aria-selected="true">Week 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="week2-tab" data-toggle="tab" href="#week2" role="tab" aria-controls="week2" aria-selected="false">Week 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="week3-tab" data-toggle="tab" href="#week3" role="tab" aria-controls="week3" aria-selected="false">Week 3</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="week4-tab" data-toggle="tab" href="#week4" role="tab" aria-controls="week4" aria-selected="false">Week 4</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="weeklyDataChart">
                                        <div class="tab-pane fade show active" id="week1" role="tabpanel" aria-labelledby="week1-tab">
                                            <canvas id="week1Chart" width="400" height="200"></canvas>
                                        </div>
                                        <div class="tab-pane fade" id="week2" role="tabpanel" aria-labelledby="week2-tab">
                                            <canvas id="week2Chart" width="400" height="200"></canvas>
                                        </div>
                                        <div class="tab-pane fade" id="week3" role="tabpanel" aria-labelledby="week3-tab">
                                            <canvas id="week3Chart" width="400" height="200"></canvas>
                                        </div>
                                        <div class="tab-pane fade" id="week4" role="tabpanel" aria-labelledby="week4-tab">
                                            <canvas id="week4Chart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Weight</th>
                                <th>Calories Intake</th>
                                <th>Steps Count</th>
                                <th>Sleep Duration</th>
                                <th>Mood</th>
                                <th>Energy Levels</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody id="weeklyDataBody">
                            <tr th:each="metric : ${metrics}">
                                <td th:text="${metric.weight}"></td>
                                <td th:text="${metric.caloriesIntake}"></td>
                                <td th:text="${metric.stepsCount}"></td>
                                <td th:text="${metric.sleepDuration}"></td>
                                <td th:text="${metric.mood}"></td>
                                <td th:text="${metric.energyLevels}"></td>
                                <td th:text="${metric.date}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Goals Progress Table -->
            <div class="col">
                <div class="card" style="height: 100%">
                    <div class="card-header">
                        <h5 class="card-title">Goals Progress</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Goal</th>
                                <th>Progress</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Weight</td>
                                <td th:text="${client.weightGoal}"></td>
                                <td>
                                    <!-- Progress tracking for weight goal -->
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             th:text="${weightProgress} + '%'"
                                             th:style="'width:' + ${weightProgress} + '%'"
                                             th:aria-valuenow="${client.weight}" aria-valuemin="0"
                                             th:aria-valuemax="${client.weightGoal}">75%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- Repeat the same structure for other metrics and goals -->
                            <tr>
                                <td>Performance goals</td>
                                <td th:text="${client.performanceGoals}"></td>
                                <td>
                                    <!-- Progress tracking for calories intake goal -->
                                    <div class="progress">
                                        <!-- Assuming metric.caloriesIntake and goal.caloriesIntake are available -->
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 54%;"
                                             aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">54%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Body Composition Goals</td>
                                <td th:text="${client.bodyCompositionGoal}"></td>
                                <td>
                                    <!-- Progress tracking for calories intake goal -->
                                    <div class="progress">
                                        <!-- Assuming metric.caloriesIntake and goal.caloriesIntake are available -->
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 73%;"
                                             aria-valuenow="73" aria-valuemin="0" aria-valuemax="100">73%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<footer th:replace="~{fragments/footer}"></footer>
<!--<script th:src="@{/js/client-details.js}"></script>-->
<script th:src="@{/js/averageMetrics.js}"></script>
</body>
</html>
