<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">

</head>
<nav th:replace="~{fragments/navbar}"></nav>
<body>

<header class="header" th:object="${client}" style="height: 100vh">
    <div class="container">
        <h2 class="text-center text-white" style="margin-top: 7rem;" th:text="*{username} + ' Data'">Client Details</h2>

        <div class="row mt-4">
            <!-- Metrics Table -->
            <div class="col">
                <div class="card" style="height: 100%">
                    <div class="card-header">
                        <h5 class="card-title">Metrics</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Weight</th>
                                <th>Calories Intake</th>
                                <th>Steps Count</th>
                                <th>Sleep Duration</th>
                                <th>Mood</th>
                                <th>Energy Levels</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="metric : ${metrics}">
                                <td th:text="${metric.weight}"></td>
                                <td th:text="${metric.caloriesIntake}"></td>
                                <td th:text="${metric.stepsCount}"></td>
                                <td th:text="${metric.sleepDuration}"></td>
                                <td th:text="${metric.mood}"></td>
                                <td th:text="${metric.energyLevels}"></td>
                                <td th:text="${metric.date}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Goals Progress Table -->
            <div class="col">
                <div class="card" style="height: 100%">
                    <div class="card-header">
                        <h5 class="card-title">Goals Progress</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Goal</th>
                                <th>Progress</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Weight</td>
                                <td th:text="${client.weightGoal}"></td>
                                <td>
                                    <!-- Progress tracking for weight goal -->
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar bg-success" role="progressbar" th:text="${weightProgress} + '%'" th:style="'width:' + ${weightProgress} + '%'" th:aria-valuenow="${client.weight}" aria-valuemin="0" th:aria-valuemax="${client.weightGoal}">75%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- Repeat the same structure for other metrics and goals -->
                            <tr>
                                <td>Performance goals</td>
                                <td th:text="${client.performanceGoals}"></td>
                                <td>
                                    <!-- Progress tracking for calories intake goal -->
                                    <div class="progress">
                                        <!-- Assuming metric.caloriesIntake and goal.caloriesIntake are available -->
                                        <div class="progress-linear-bar bg-success" role="progressbar" th:aria-valuenow="${client.weight}" aria-valuemin="0" th:aria-valuemax="${client.weightGoal}"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Body Composition Goals</td>
                                <td th:text="${client.bodyCompositionGoal}"></td>
                                <td>
                                    <!-- Progress tracking for calories intake goal -->
                                    <div class="progress">
                                        <!-- Assuming metric.caloriesIntake and goal.caloriesIntake are available -->
                                        <div class="progress-bar" role="progressbar" aria-valuenow="metric.caloriesIntake" aria-valuemin="0" aria-valuemax="goal.caloriesIntake"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<footer th:replace="~{fragments/footer}"></footer>
<script th:src="@{/js/client-details.js}"></script>
</body>
</html>
