<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<header class="header">
    <div class="container d-flex justify-content-center align-items-center text-light" style="height: 100vh;">
        <div class="row" style="width: 100%">
            <div class="col-md-8 offset-md-2">
                <div class="contact-form">
                    <div class="text-center">
                        <h2>Contact Us</h2>
                        <span>Contact our team with any questions or comments at <a href="mailto:support@findacoach.com">support@fitlaunch.com</a></span>
                    </div>

                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" style="width: 100%">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
