<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<header class="header">
    <div class="container d-flex flex-column justify-content-center align-items-center text-light" style="height: 100vh">
        <h2>Create Meal Plan</h2>
        <!-- Meal Plan Form -->
        <form th:action="@{/meal-plans/create}" th:method="post" th:object="${mealPlanCreationDTO}">
            <!-- Meal Plan Details -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:field="*{name}"
                       placeholder="Enter meal plan name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" th:field="*{description}"
                          placeholder="Enter description"></textarea>
            </div>

            <!-- Week, Day, and Meal Selection -->
            <div class="form-group">
                <label for="weeks">Weeks:</label>
                <input type="number" class="form-control" id="weeks" name="weeks" th:field="*{weeks}"
                       placeholder="Enter number of weeks">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100">Next</button>
            </div>
        </form>
    </div>
</header>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
