<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>Discussion</title>
    <style>
        .comment-card {
            margin-bottom: 20px;
        }
        .pagination {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<div class="container mt-5 d-flex flex-column justify-content-center">
    <input type="hidden" name="topicId" id="topicId" th:value="${topic.id}">
    <h1 th:text="${topic.title}" class="mb-4 mt-5"></h1>
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="h5">Original Post</h3>
            <small class="text-muted" th:text="${topic.author} + ' - ' + ${topic.date}"></small>
        </div>
        <div class="card-body">
            <p th:text="${topic.content}"></p>
        </div>
    </div>


    <div id="commentsList" class="mb-4">
        <h3>Comments</h3>
        <div>
            <span id="commentCtnr"></span>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" id="paginationControls"></ul>
        </nav>
    </div>


    <!-- Add Comment Form -->
    <div class="card mb-5">
        <div class="card-header">
            <h4 class="h5">Add a Comment</h4>
        </div>
        <div class="card-body">
            <form id="topicCommentForm" method="POST" th:action="@{/comments/topic/{topicId}(topicId=${topic.id})}">
                <div class="form-group">
                    <label for="message">Content</label>
                    <textarea class="form-control" id="message" name="content" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
<script th:src="@{/js/comments.js}"></script>
</body>
</html>
