<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<header class="header">
    <div class="container mx-auto row justify-content-center align-items-center align-content-center" style="height: 100vh" th:object="${meal}">
        <div class="col-md-4">
            <h2 class="text-center text-white">Meal Details</h2>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="*{imageUrl}" alt="Meal Image">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="*{name}">Meal Name</h5>
                        <p class="card-text"><span>Description:</span> <span th:text="*{description}"></span></p>
                        <!-- Additional meal details -->
                        <p class="card-text"><span>Type:</span> <span th:text="*{type}"></span></p>
                        <p class="card-text"><span>Calories:</span> 350</p>
                        <!-- Add more details as needed -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
