<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="container d-flex align-items-center" style="min-height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 text-center mb-4">
            <!-- Profile Picture Block -->
            <div class="card border-light shadow-sm">
                <img class="card-img-top rounded-circle profile-picture mx-auto mt-3" th:src="${user.imgUrl}" alt="Profile Picture">
                <div class="card-body">
                    <form th:object="${profilePictureDTO}" th:action="@{/users/profile}" th:method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="username" id="username" th:value="${user.username}">
                        <div class="form-group">
                            <label for="imgUrl" class="text-dark" th:text="#{profile_picture}"></label>
                            <div class="custom-file d-flex align-items-center">
                                <img src="/images/add-img.png" alt="Upload Image" class="img-fluid" style="max-width: 50px; height: auto; margin-right: 10px;">
                                <input type="file" class="custom-file-input" id="imgUrl" name="picture" th:field="*{picture}" accept="image/*">
                                <label class="custom-file-label" for="imgUrl" th:text="#{upload_picture_button}"></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded mt-2" th:text="#{upload_picture_button}"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h1 class="text-dark" th:text="${user.username}"></h1>
                    <hr class="divider bg-primary my-4">
                    <h2 class="text-primary" th:text="#{biography_title}"></h2>
                    <p class="mt-3">
                        <q class="font-italic h4" th:text="#{biography_text}"></q>
                    </p>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <p><strong th:text="#{experience}"></strong> 3 Years</p>
                            <p><strong th:text="#{age}"></strong> 28</p>
                            <p><strong th:text="#{weight}"></strong> 77 kg</p>
                            <p><strong th:text="#{email}"></strong> <a th:href="'mailto:' + ${user.email}" th:text="${user.email}"></a></p>
                            <p><strong th:text="#{phone}"></strong> 801546142343243</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="fab fa-facebook fa-2x" href="#" target="_blank" th:attr="title=#{facebook}"></a></li>
                                <li class="list-inline-item"><a class="fab fa-twitter fa-2x" href="#" target="_blank" th:attr="title=#{twitter}"></a></li>
                                <li class="list-inline-item"><a class="fab fa-linkedin fa-2x" href="#" target="_blank" th:attr="title=#{linkedin}"></a></li>
                                <li class="list-inline-item"><a class="fab fa-google-plus fa-2x" href="#" target="_blank" th:attr="title=#{google_plus}"></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 th:text="#{upcoming_sessions}"></h5>
                            <div class="overflow-auto" style="max-height: 300px;">
                                <ul th:if="${upcomingSessions.size() > 0}" class="list-group">
                                    <li th:each="upcomingSession : ${upcomingSessions}" class="list-group-item">
                                        <span th:text="${upcomingSession.scheduledDateTime}"></span>
                                    </li>
                                </ul>
                            </div>
                            <a class="btn btn-info mt-3" href="#" th:href="@{/users/{username}/calendar(username=${user.username})}" th:text="#{check_calendar_button}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
