<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <link rel="stylesheet" href="../static/css/test.css">
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<header class="header">
    <h2>Add Workout</h2>
    <div class="container d-flex text-white" style="height: 100vh">
        <form action="#" th:action="@{/programs/create/{programId}(programId=${programId})}" method="post" th:object="${program}" class="m-auto">
            <div th:each="week : ${program.weeks}">
                <label for="workoutName">Workout Name:</label>
                <select id="workoutName" name="workoutName" required>
                    <option th:each="workout : ${allWorkouts}" th:value="${workout.id}" th:text="${workout.name}"></option>
                </select>
                <label for="weekNumber">Week: </label>
                <select id="weekNumber" name="weekNumber" required>
                    <option th:each="weekNumber : ${#numbers.sequence(1, weeks.size())}" th:value="${weekNumber}" th:text="${weekNumber}"></option>
                </select>
                <label for="dayOfWeek">Day of the Week:</label>
                <select id="dayOfWeek" name="dayOfWeek" required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                <input type="submit" value="Save">
            </div>

        </form>
    </div>

</header>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
