<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>
</body>
<header class="header" style="height: 100vh">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center text-white" style="margin-top: 10rem;">Create Workout</h2>
                <form th:object="${workoutCreationDTO}" th:action="@{/exercises}" method='POST'
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name" class="text-white">Workout Name</label>
                        <input type="text" class="form-control bg-light" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="level" class="text-white">Level</label>
                        <select class="form-control" id="level" name="level">
                            <option value="">Select Level</option>
                            <option th:each="level : ${T(com.softuni.fitlaunch.model.enums.LevelEnum).values()}"
                                    th:value="${level}"
                                    th:text="${level}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="imgUrl" class="text-white">
                            <img src="/images/add-img.jpg" alt="Upload Image" style="max-width: 100%; height: auto;">
                        </label>
                        <input type="file" class="form-control bg-light" id="imgUrl" name="picture" th:field="*{imgUrl}"
                               accept="image/*">
                    </div>

                    <div class="form-group">
                        <label class="text-white">Selected Exercises:</label>
                        <ul id="selectedExercises" class="list-group">
                            <!-- Selected exercises will be listed here -->
                        </ul>
                    </div>


                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exerciseModal"
                                id="exerciseModalButton">
                            Add Exercises
                        </button>
                    </div>

                    <button type="button" class="btn btn-primary btn-create-workout" id="createWorkout">Create Workout</button>
                </form>
            </div>
        </div>
    </div>

</header>

<!-- Modal for Adding Exercises -->
<div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exerciseModalLabel">Select Exercises</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="exerciseList" class="row">
                    <!-- Exercises will be dynamically loaded here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveExercises">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
<script th:src="@{/js/createWorkout.js}"></script>

</html>
