<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<header class="header">
    <section class="container mt-5">
        <div class="text-center mb-4">
            <h2 class="text-white">Workout Details</h2>
        </div>

        <div th:object="${workout}" class="card bg-dark text-white mb-4">
            <div class="card-header text-center">
                <h5 class="card-title text-primary" th:text="*{name}"></h5>
            </div>
            <div class="card-body text-center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">
                        <span class="font-weight-bold">Level:</span>
                        <span th:text="*{level}">Beginner</span>
                    </li>
                </ul>
            </div>
        </div>

        <section class="card bg-dark text-white">
            <div class="card-header">
                <h5 class="card-title">Exercises</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div th:each="exercise: ${workout.exercises}" class="col-md-6 mb-4">
                        <div class="card bg-secondary text-white">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold" th:text="${exercise.name}"></h6>
                                <div>
                                    <span th:text="${exercise.getMuscleGroup()}" class="badge badge-secondary"
                                          style="font-size: 0.85rem; position:absolute; top: 10px; right: 10px;"></span>
                                </div>
                                <p>
                                    <span class="font-weight-bold">Sets:</span>
                                    <span th:text="${exercise.sets}"></span>
                                    <br>
                                    <span class="font-weight-bold">Reps:</span>
                                    <span th:text="${exercise.reps}"></span>
                                </p>
                                <iframe class="w-100" th:src="'https://www.youtube.com/embed/' + ${exercise.videoUrl}"
                                        height="200" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <input type="hidden" name="workoutId" id="workoutId" th:value="${workout.id}">
    </section>
</header>
<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
